/*--------------------------MENU FOR LARGE TABLET------------------------*/

        @media screen and (min-width: 820px) and (max-width: 1339px)
        {

            /*-----------HEADER AND FOOTER CONFIG--------*/

            .start{
                font-family: Impact;
                font-size: 23px;
            }

            .end{
                font-family: Avenir;
                font-size: 17px;
            } 

            /*--------END OF HEADER AND FOOTER CONFIG----*/ 

            /*------------MENU-----------*/

            #left_menu{
                display: none;
            }

            /*----------END OF MENU--------*/

            .navbar{
                height: 100px;
            }  

            .tleft{
                padding-left: 35px;
                padding-top: 20px;
                font-family: Impact;
                font-size: 20px;
            }

            .tleft li{
                padding-right: 70px;
            }

            .tright{
                padding-right: 10px;
                padding-top: 20px;
                font-family: Impact;
                font-size: 20px;
            }

            .tright li{
                padding-right: 5px;
                padding-left: 30px;
            }

            /*----------ABOUT PARA----------*/

            .about_pic 
            {
                display: none;
            }

            .about_para
            {
                padding-left: 70px;
                width: 500px;
            }

            /*-----END OF EDIT PARA-ABOUT---*/  

            /*----------STORY PARA----------*/

            .story_gap{
                padding-top: 80px;
            }
        
            .story_para
            {
                padding-left: 70px;
                width: 500px;                
            }


            /*-----END OF EDIT PARA-STORY---*/   

            /*----------PAY PARA----------*/

            #pay{
                padding-bottom: 50px;
            }
        
            .pay_story
            {
                padding-left: 80px;
                width: 500px;
            }

            /*-----END OF EDIT PARA-PAY---*/   

            /*-------------------------------SOCIAL MEDIA---------------------------*/

            .social-icon {
                color: black;
            }

            .social-icons a {
                color: black;
                text-decoration: none;
            }

            .button5 {
                background-color: white;
                color: black;
                border: 2px solid #555555;

            }

            .button5:hover {
                background-color: black;
                color: white;
            }

           ul.social-network {
                list-style: none;
                display: inline;
                margin-left:0 !important;
                padding-top: 10;
            }

            ul.social-network li {
                display: inline;
                margin: 0 20px;
            }

            .icons-sm{
                font-size: 20px;
                color: black;
            }     

            .social-network li br{
                display: none;
            }      

            /*---------END OF SOCIAL MEDIA ICONS------*/

            .footer_style{
                padding-top: 20px;
            }

            .footer_one{
                
            }

            .footer_two{
                
            }

            .footer_three{
                padding-top: 15px;
                padding-bottom: 5px;
            }

            .footer_three br{
                display: none;
            }

            .footer_text{
                font-family: Impact;
                font-size: 21px;
            }

        /*-------------------------END OF SOCIAL MEDIA--------------------------*/
        }

        /*---------------------END OF MENU FOR LARGE TABLET-----------------------*/
